---
layout: documentation
menu: configuration
---

<div>
    <div class="pills">
        <ul class="nav nav-pills">
            <li {% if page.pill=='overview' %} class="active" {% endif %}>
            <a href="/migratedb/documentation/configuration/parameters">Overview</a></li>
            <li {% if page.pill=='configFiles' %} class="active" {% endif %}>
            <a href="/migratedb/documentation/configuration/configfile">Config Files</a></li>
            <li {% if page.pill=='placeholders' %} class="active" {% endif %}>
            <a href="/migratedb/documentation/configuration/placeholder">Placeholders</a></li>
            <li {% if page.pill=='scriptconfigfiles' %} class="active" {% endif %}>
            <a href="/migratedb/documentation/configuration/scriptconfigfiles">Script Config Files</a></li>
        </ul>
    </div>

    {{ content }}

</div>

