---
layout: default-honeycomb
tab: documentation
title: Documentation
---

<div class="padded-v">
    <div class="row">
        <div class="col-md-3">
            <nav>
                <ul class="nav nav-pills nav-stacked">
                    <li {% if page.menu=='overview' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation">Overview</a>
                    </li>
                    <li {% if page.url contains "documentation/getstarted" %} open class="active" {% endif %}>
                        <span>Get Started</span>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if page.menu=='gs_overview' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/getstarted">Overview</a></li>

                            <li {% if page.menu=='why' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/getstarted/why">Why database migrations</a></li>

                            <li {% if page.menu=='how' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/getstarted/how">How MigrateDB works</a></li>
                        </ul>
                        <li {% if page.url contains "documentation/getstarted/firststeps" %} open {% endif %}>
                            <span>First steps</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if page.menu=='commandline' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/getstarted/firststeps/commandline">Command-line</a></li>

                                <li {% if page.menu=='api' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/getstarted/firststeps/api">API</a></li>
                            </ul>
                        </li>

                    <li {% if page.url contains "documentation/concepts" %} open class="active" {% endif %}>
                        <span>Concepts</span>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if page.menu=='migrations' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/concepts/migrations">Migrations</a></li>

                            <li {% if page.menu=='callbacks' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/concepts/callbacks">Callbacks</a></li>

                            <li {% if page.menu=='baseline-migrations' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/concepts/baseline-migrations">Baseline Migrations</a></li>
                        </ul>
                    </li>

                    <li {% if page.url contains "documentation/command" %} open class="active" {% endif %}>
                        <span>Commands</span>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if page.menu=='migrate' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/command/migrate">Migrate</a></li>

                            <li {% if page.menu=='clean' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/command/clean">Clean</a></li>

                            <li {% if page.menu=='info' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/command/info">Info</a></li>

                            <li {% if page.menu=='validate' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/command/validate">Validate</a></li>

                            <li {% if page.menu=='baseline' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/command/baseline">Baseline</a></li>

                            <li {% if page.menu=='repair' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/command/repair">Repair</a></li>
                        </ul>
                    </li>

                    <li {% if page.url contains "documentation/usage" %} open class="active" {% endif %}>
                        <span>Usage</span>
                        <li {% if layout.menu=='commandLine' %} open {% endif %} class="collapsible-nested">
                            <span>Command-line</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if page.pill=='cli_overview' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline">Overview</a></li>

                                <li {% if page.pill=='cli_migrate' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline/migrate">migrate</a></li>

                                <li {% if page.pill=='cli_clean' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline/clean">clean</a></li>

                                <li {% if page.pill=='cli_info' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline/info">info</a></li>

                                <li {% if page.pill=='cli_validate' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline/validate">validate</a></li>

                                <li {% if page.pill=='cli_baseline' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline/baseline">baseline</a></li>

                                <li {% if page.pill=='cli_repair' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/commandline/repair">repair</a></li>
                            </ul>
                        </li>
                        <li {% if layout.menu=='api' %} open {% endif %} class="collapsible-nested">
                            <span>API (Java)</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if page.pill=='api_overview' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/api">Overview</a></li>

                                <li {% if page.pill=='hooks' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/api/hooks">Hooks</a></li>

                                <li {% if page.pill=='javadoc' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/api/javadoc">Javadoc</a></li>
                            </ul>
                        </li>
                        <li {% if layout.menu=='maven' %} open {% endif %} class="collapsible-nested">
                            <span>Maven</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if page.pill=='mvn_overview' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/maven">Overview</a></li>

                                <li {% if page.pill=='mvn_repair' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/maven/site">Site</a></li>
                            </ul>
                        </li>
                        <li {% if layout.menu=='gradle' %} open {% endif %} class="collapsible-nested">
                            <span>Gradle</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if page.pill=='gradle_overview' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/usage/gradle">Overview</a></li>
                            </ul>
                        </li>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if page.menu=='errorcodes' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/usage/errorcodes/">Error Codes</a></li>

                            <li {% if page.menu=='plugins' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/usage/plugins/">Community Plugins</a></li>
                        </ul>

                    <li {% if page.url contains "documentation/tutorials" %} open class="active" {% endif %}>
                        <span>Tutorials</span>
                        <ul class="nav nav-pills nav-stacked">
                            <li {% if page.menu=='repeatable' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/tutorials/repeatable">Repeatable migrations</a></li>

                            <li {% if page.menu=='tut_baseline-migrations' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/tutorials/baseline-migrations">Baseline Migrations</a></li>

                            <li {% if page.menu=='java' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/tutorials/java">Java-based migrations</a></li>

                            <li {% if page.menu=='tut_callbacks' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/tutorials/callbacks">Callbacks</a></li>

                            <li {% if page.menu=='tut_customvalidationrules' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/tutorials/custom-validation-rules">Custom Validation Rules</a></li>

                            <li {% if page.menu=='tut_injectingenvironments' %} class="active" {% endif %}>
                            <a href="/migratedb/documentation/tutorials/injecting-environments">Injecting Environments</a></li>
                        </ul>
                    </li>

                    <li {% if page.url contains "documentation/configuration" %} open class="active" {% endif %}>
                        <span>Configuration</span>
                        <li {% if page.url contains "documentation/configuration/parameters/" %} open {% endif %} class="collapsible-nested">
                            <span>Parameters</span>
                            <ul class="nav nav-pills nav-stacked">
                                <li {% if page.pill=='configuration' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters">Overview</a></li>

                                <li {% if page.pill=='baselineDescription' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/baselineDescription">baselineDescription</a></li>

                                <li {% if page.pill=='baselineMigrationPrefix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/baselineMigrationPrefix">baselineMigrationPrefix</a></li>

                                <li {% if page.pill=='baselineOnMigrate' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/baselineOnMigrate">baselineOnMigrate</a></li>

                                <li {% if page.pill=='baselineVersion' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/baselineVersion">baselineVersion</a></li>

                                <li {% if page.pill=='batch' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/batch">batch</a></li>

                                <li {% if page.pill=='callbacks' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/callbacks">callbacks</a></li>

                                <li {% if page.pill=='cherryPick' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/cherryPick">cherryPick</a></li>

                                <li {% if page.pill=='cleanDisabled' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/cleanDisabled">cleanDisabled</a></li>

                                <li {% if page.pill=='cleanOnValidationError' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/cleanOnValidationError">cleanOnValidationError</a></li>

                                <li {% if page.pill=='configFileEncoding' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/configFileEncoding">configFileEncoding</a></li>

                                <li {% if page.pill=='configFiles' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/configFiles">configFiles</a></li>

                                <li {% if page.pill=='connectRetries' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/connectRetries">connectRetries</a></li>

                                <li {% if page.pill=='connectRetriesInterval' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/connectRetriesInterval">connectRetriesInterval</a></li>

                                <li {% if page.pill=='createSchemas' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/createSchemas">createSchemas</a></li>

                                <li {% if page.pill=='defaultSchema' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/defaultSchema">defaultSchema</a></li>

                                <li {% if page.pill=='driver' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/driver">driver</a></li>

                                <li {% if page.pill=='encoding' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/encoding">encoding</a></li>

                                <li {% if page.pill=='failOnMissingLocations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/failOnMissingLocations">failOnMissingLocations</a></li>

                                <li {% if page.pill=='group' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/group">group</a></li>

                                <li {% if page.pill=='ignoreFutureMigrations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/ignoreFutureMigrations">ignoreFutureMigrations</a></li>

                                <li {% if page.pill=='ignoreIgnoredMigrations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/ignoreIgnoredMigrations">ignoreIgnoredMigrations</a></li>

                                <li {% if page.pill=='ignoreMissingMigrations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/ignoreMissingMigrations">ignoreMissingMigrations</a></li>

                                <li {% if page.pill=='ignorePendingMigrations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/ignorePendingMigrations">ignorePendingMigrations</a></li>

                                <li {% if page.pill=='ignoreMigrationPatterns' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/ignoreMigrationPatterns">ignoreMigrationPatterns</a></li>

                                <li {% if page.pill=='initSql' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/initSql">initSql</a></li>

                                <li {% if page.pill=='installedBy' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/installedBy">installedBy</a></li>

                                <li {% if page.pill=='jarDirs' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/jarDirs">jarDirs</a></li>

                                <li {% if page.pill=='jdbcProperties' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/jdbcProperties">jdbcProperties</a></li>

                                <li {% if page.pill=='locations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/locations">locations</a></li>

                                <li {% if page.pill=='lockRetryCount' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/lockRetryCount">lockRetryCount</a></li>

                                <li {% if page.pill=='loggers' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/loggers">loggers</a></li>

                                <li {% if page.pill=='mixed' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/mixed">mixed</a></li>

                                <li {% if page.pill=='oracleKerberosCacheFile' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/oracleKerberosCacheFile">oracleKerberosCacheFile</a></li>

                                <li {% if page.pill=='oracleKerberosConfigFile' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/oracleKerberosConfigFile">oracleKerberosConfigFile</a></li>

                                <li {% if page.pill=='oracleSqlPlus' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/oracleSqlPlus">oracleSqlPlus</a></li>

                                <li {% if page.pill=='oracleSqlPlusWarn' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/oracleSqlPlusWarn">oracleSqlPlusWarn</a></li>

                                <li {% if page.pill=='oracleWalletLocation' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/oracleWalletLocation">oracleWalletLocation</a></li>

                                <li {% if page.pill=='outOfOrder' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/outOfOrder">outOfOrder</a></li>

                                <li {% if page.pill=='outputQueryResults' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/outputQueryResults">outputQueryResults</a></li>

                                <li {% if page.pill=='password' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/password">password</a></li>

                                <li {% if page.pill=='placeholderPrefix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/placeholderPrefix">placeholderPrefix</a></li>

                                <li {% if page.pill=='placeholderReplacement' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/placeholderReplacement">placeholderReplacement</a></li>

                                <li {% if page.pill=='placeholders' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/placeholders">placeholders</a></li>

                                <li {% if page.pill=='placeholderSeparator' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/placeholderSeparator">placeholderSeparator</a></li>

                                <li {% if page.pill=='placeholderSuffix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/placeholderSuffix">placeholderSuffix</a></li>

                                <li {% if page.pill=='repeatableSqlMigrationPrefix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/repeatableSqlMigrationPrefix">repeatableSqlMigrationPrefix</a></li>

                                <li {% if page.pill=='resolvers' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/resolvers">resolvers</a></li>

                                <li {% if page.pill=='schemas' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/schemas">schemas</a></li>

                                <li {% if page.pill=='scriptPlaceholderPrefix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/scriptPlaceholderPrefix">scriptPlaceholderPrefix</a></li>

                                <li {% if page.pill=='scriptPlaceholderSuffix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/scriptPlaceholderSuffix">scriptPlaceholderSuffix</a></li>

                                <li {% if page.pill=='skipDefaultCallbacks' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/skipDefaultCallbacks">skipDefaultCallbacks</a></li>

                                <li {% if page.pill=='skipDefaultResolvers' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/skipDefaultResolvers">skipDefaultResolvers</a></li>

                                <li {% if page.pill=='skipExecutingMigrations' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/skipExecutingMigrations">skipExecutingMigrations</a></li>

                                <li {% if page.pill=='sqlMigrationPrefix' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/sqlMigrationPrefix">sqlMigrationPrefix</a></li>

                                <li {% if page.pill=='sqlMigrationSeparator' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/sqlMigrationSeparator">sqlMigrationSeparator</a></li>

                                <li {% if page.pill=='sqlMigrationSuffixes' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/sqlMigrationSuffixes">sqlMigrationSuffixes</a></li>

                                <li {% if page.pill=='table' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/table">table</a></li>

                                <li {% if page.pill=='tablespace' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/tablespace">tablespace</a></li>

                                <li {% if page.pill=='target' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/target">target</a></li>

                                <li {% if page.pill=='url' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/url">url</a></li>

                                <li {% if page.pill=='user' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/user">user</a></li>

                                <li {% if page.pill=='validateMigrationNaming' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/validateMigrationNaming">validateMigrationNaming</a></li>

                                <li {% if page.pill=='validateOnMigrate' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/validateOnMigrate">validateOnMigrate</a></li>

                                <li {% if page.pill=='workingDirectory' %} class="active" {% endif %}>
                                <a href="/migratedb/documentation/configuration/parameters/workingDirectory">workingDirectory</a></li>
                            </ul>
                        </li>
                        <ul class="nav nav-pills nav-stacked">
                        <li {% if page.menu=='envvars' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/configuration/envvars">Environment Variables</a></li>

                        <li {% if page.menu=='configFiles' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/configuration/configfile">Config Files</a></li>

                        <li {% if page.menu=='scriptconfigfiles' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/configuration/scriptconfigfiles">Script Config Files</a></li>

                        <li {% if page.menu=='placeholders' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/configuration/placeholder">Placeholders</a></li>

                        <li {% if page.menu=='ssl' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/configuration/ssl">SSL support</a></li>

                        <li {% if page.menu=='authentication' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/configuration/authentication">Authentication</a></li>
                    </ul>

                    <li {% if page.url contains "documentation/database" %} open class="active" {% endif %}>
                        <span>Supported Databases</span>
                        <ul class="nav nav-pills nav-stacked">

                        <li {% if page.menu=='aurora-mysql' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/aurora-mysql">Aurora MySQL</a></li>

                        <li {% if page.menu=='aurora-postgresql' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/aurora-postgresql">Aurora PostgreSQL</a></li>

                        <li {% if page.menu=='azuresynapse' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/azuresynapse">Azure Synapse</a></li>

                        <li {% if page.menu=='big-query' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/big-query">Google Big Query</a></li>

                        <li {% if page.menu=='cloud-spanner' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/cloud-spanner">Cloud Spanner</a></li>

                        <li {% if page.menu=='cockroachdb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/cockroachdb">CockroachDB</a></li>

                        <li {% if page.menu=='db2' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/db2">DB2</a></li>

                        <li {% if page.menu=='derby' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/derby">Derby</a></li>

                        <li {% if page.menu=='firebird' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/firebird">Firebird</a></li>

                        <li {% if page.menu=='h2' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/h2">H2</a></li>

                        <li {% if page.menu=='hsqldb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/hsqldb">HSQLDB</a></li>

                        <li {% if page.menu=='informix' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/informix">Informix</a></li>

                        <li {% if page.menu=='mariadb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/mariadb">MariaDB</a></li>

                        <li {% if page.menu=='mysql' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/mysql">MySQL</a></li>

                        <li {% if page.menu=='oracle' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/oracle">Oracle</a></li>

                        <li {% if page.menu=='xtradb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/xtradb">Percona XtraDB Cluster</a></li>

                        <li {% if page.menu=='postgresql' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/postgresql">PostgreSQL</a></li>

                        <li {% if page.menu=='redshift' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/redshift">Redshift</a></li>

                        <li {% if page.menu=='saphana' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/saphana">SAP HANA</a></li>

                        <li {% if page.menu=='snowflake' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/snowflake">Snowflake</a></li>

                        <li {% if page.menu=='sqlite' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/sqlite">SQLite</a></li>

                        <li {% if page.menu=='sqlServer' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/sqlserver">SQL Server</a></li>

                        <li {% if page.menu=='sybasease' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/sybasease">Sybase ASE</a></li>

                        <li {% if page.menu=='testcontainers' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/testcontainers">TestContainers</a></li>

                        <li {% if page.menu=='timescaledb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/timescaledb">TimescaleDB</a></li>

                        <li {% if page.menu=='tidb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/tidb">TiDB</a></li>

                        <li {% if page.menu=='yugabytedb' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/database/yugabytedb">YugabyteDB</a></li>
                    </ul>
                    </li>

                    <li {% if page.url contains "documentation/learnmore" %} open class="active" {% endif %}>
                        <span>Learn more</span>
                        <ul class="nav nav-pills nav-stacked">
                        <li {% if page.menu=='existing' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/learnmore/existing">Existing Database Setup</a></li>

                        <li {% if page.menu=='faq' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/learnmore/faq">FAQ</a></li>
                    </ul>
                    </li>

                    <li {% if page.url contains "documentation/contribute" %} open class="active" {% endif %}>
                        <span>Contribute</span>
                        <ul class="nav nav-pills nav-stacked">
                        <li {% if page.menu=='contribute' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/contribute">Contributing to MigrateDB</a></li>

                        <li {% if page.menu=='contributing-database-support' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/contribute/contributing-database-support">Database
                            Compatibility</a></li>

                        <li {% if layout.menu=='website' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/contribute/website">Documentation</a></li>

                        <li {% if layout.menu=='code' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/contribute/code">Code</a></li>

                        <li {% if page.menu=='flyway-contributors' %} class="active" {% endif %}>
                        <a href="/migratedb/documentation/contribute/flyway-contributors">Attribution</a></li>
                    </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>
